<h1>URL Shortener</h1>

<form action="/urls" method="post">
  <input type="text" placeholder="URL" name="url">
  <button type="submit">submit</button>
</form>

Result: <a href='/{{{shortUrl}}}'>http://localhost:3000/{{{shortUrl}}}</a>
