<h1>URL Shortener</h1>

<form action="/urls" method="post">
  <input type="text" placeholder="URL" name="url">
  <button type="submit">submit</button>
</form>

<ul>
  {{#each urls}}
    <li><a href="//localhost:3000/{{{this.shortUrl}}}">http//localhost:3000/{{{this.shortUrl}}}</a> => {{this.originalUrl}} </li>
  {{/each}}
</ul>
